HEARTBEAT=y

MEDIA_SQLITE=y
MEDIA_SQLITE_INITDB=y
MEDIA_FILE=y
MEDIA_FILE_LIST=y
MEDIA_DIR=y
MEDIA_IMPORT=y

SRC_FILE=y
SRC_ALSA=y
SRC_CURL=y
CURL_DUMP=n
SRC_UNIX=y
SRC_UDP=y
UDP_DUMP=n
UDP_THREAD=y
UDP_MARKER=n

DEMUX_PASSTHROUGH=y
DEMUX_RTP=y
DEMUX_DUMP=n

DECODER_MAD=y
DECODER_FLAC=y
DECODER_FAAD2=y
DECODER_PASSTHROUGH=y

FILTER_SCALING=y
FILTER_STATS=y
FILTER_MIXED=y
FILTER_ONECHANNEL=y

ENCODER_PASSTHROUGH=y
ENCODER_LAME=y
ENCODER_FLAC=y
ENCODER_FRAME_SIZE=6000
MUX=y
MUX_RTP=y

SINK_ALSA=y
SINK_ALSA_FORMAT=PCM_32bits_LE_stereo
#SINK_ALSA_FORMAT=PCM_24bits4_LE_stereo
SINK_ALSA_CONFIG=y
SINK_ALSA_MIXER=y
SINK_ALSA_MIXER_CH="Master"
SINK_ALSA_NOISE=n
SINK_TINYALSA=n
SINK_FILE=y
SINK_UDP=y
SINK_UNIX=y
SINK_UNIX_ASYNC=y
SINK_UNIX_WAITCLIENT=y
SINK_PULSE=n
MAX_CLIENTS=10
SAMPLERATE_AUTO=y
SAMPLERATE_44100=n
SAMPLERATE_48000=n

JSONRPC=y
JSONRPC_LARGEPACKET=y
CMDLINE=y
CMDINPUT=n
CMDINPUT_PATH=""
TINYSVCMDNS=n
TINYSVCMDNS_NETIF=y
TINYSVCMDNS_NETIF2=y

INDEX_HTML="/ouiradio.html"

USE_ID3TAG=y
USE_OGGMETADDATA=y
USE_TIMER=y
USE_INOTIFY=y
USE_REALTIME=y
REALTIME_SCHED=SCHED_RR
USE_LIBINPUT=n

DISPLAY_DIRECTFB=n
DISPLAY_EPAPER=n
UPNPRENDERER=y
MODULE_MPG123=n
MODULE_GST=n
HAVE_MPG123=n
HAVE_GST=n
HAVE_LIBUPNP=y

WEBAPP=n
BOOTSTRAP=y
JQUERY=y
