MEDIA_SQLITE=y
MEDIA_FILE=n
SRC_FILE=y
DECODER_MAD=y
ENCODER_PASSTHROUGH=y
ENCODER_LAME=n
SINK_ALSA=y
SINK_ALSA_FORMAT="PCM_16bits_LE_stereo"
SINK_TINYALSA=n
SINK_FILE=n
JSONRPC=n
CMDLINE=y
USE_ID3TAG=y
