PUTV=putv
HEARTBEAT=n
MEDIA_SQLITE=n
MEDIA_FILE=n
MEDIA_DIR=y
MEDIA=media_dir
SRC_FILE=n
SRC_CURL=y
DECODER_MAD=y
DECODER_FLAC=n
DECODER_PASSTHROUGH=n
ENCODER_PASSTHROUGH=y
ENCODER_LAME=n
SINK_ALSA=y
SINK_ALSA_FORMAT="PCM_32bits_LE_stereo"
SINK_TINYALSA=n
SINK_FILE=n
JSONRPC=y
CMDLINE=y
USE_ID3TAG=y
USE_TIMER=y
USE_INOTIFY=y
SAMPLERATE_AUTO=y
SAMPLERATE_44100=n
SAMPLERATE_4800=n
