PUTV=putv
HEARTBEAT=y
MEDIA_SQLITE=y
MEDIA_FILE=n
MEDIA_DIR=n
MEDIA=media_sqlite
SRC_FILE=y
SRC_CURL=n
DECODER_MAD=y
DECODER_FLAC=n
DECODER_PASSTHROUGH=n
FILTER=y
ENCODER_PASSTHROUGH=y
ENCODER_LAME=n
SINK_ALSA=y
SINK_ALSA_FORMAT="PCM_16bits_LE_stereo"
SINK_TINYALSA=n
SINK_FILE=n
JSONRPC=y
CMDLINE=y
CMDINPUT=n
CMDINPUT_PATH=""
USE_ID3TAG=y
USE_TIMER=n
USE_INOTIFY=n
USE_REALTIME=n
SAMPLERATE_AUTO=y
SAMPLERATE_44100=n
SAMPLERATE_48000=n
