PUTV=putv
HEARTBEAT=y
MEDIA_SQLITE=y
MEDIA_SQLITE_EXT=y
MEDIA_FILE=n
MEDIA_FILE_LIST=n
MEDIA_DIR=n
SRC_FILE=y
SRC_CURL=n
SRC_UNIX=n
DECODER_MAD=y
DECODER_FLAC=y
DECODER_PASSTHROUGH=n
FILTER_SCALING=n
FILTER_ONECHANNEL=n
ENCODER_PASSTHROUGH=n
ENCODER_LAME=y
SINK_ALSA=n
SINK_ALSA_FORMAT="PCM_16bits_LE_stereo"
SINK_TINYALSA=n
SINK_FILE=n
SINK_UNIX=y
JSONRPC=y
JSONRPC_LARGEPACKET=y
CMDLINE=y
CMDINPUT=n
CMDINPUT_PATH=""
USE_ID3TAG=y
USE_TIMER=n
USE_INOTIFY=n
USE_REALTIME=n
USE_LIBINPUT=n
SAMPLERATE_AUTO=y
SAMPLERATE_44100=n
SAMPLERATE_48000=n
